@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --padding: 16px;
    --leftContainerWidth: 350px;
    --petitBorderRadius: 28px;
    --borderRadius: 32px;
    --userContainer: 300px;
    --petitPadding: 6px;
    --cubic: cubic-bezier(.6, 0, .4, 1);

    --font: 'Lexend', sans-serif;

    --glass: rgba(62, 64, 69, 0.25);
    --glassBorder: rgba(255, 255, 255, 0.4);
    --backdropIntensity: 4px;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #5c00b9;
    color: #dcddde;
    overflow: hidden;
    font-family: var(--font);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: var(--font);
}

p {
    margin: 0;
}

#app {
    height: 100%;
    display: flex;
    gap: var(--petitPadding);
    padding: var(--petitPadding);
    padding-left: 0px;
    position: relative;
}

#leftContainer {
    display: grid;
    grid-template-columns: 72px calc(var(--leftContainerWidth) - 72px);

    grid-template-rows: 1fr auto;

    grid-template-areas:
        "rooms contacts"
        "user user";

    height: 100%;

    #roomContainer {
        grid-area: rooms;
        min-width: 72px;
        position: relative;

        #serverList {
            padding: var(--padding);

            &::after {
                content: "";
                display: block;
                background: linear-gradient(to right, transparent, rgba(123, 123, 123, 0.5), transparent);
                height: 1px;
                width: 100%;
            }


            .server-icon {
                width: 46px;
                height: 46px;
                border-radius: 50%;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                margin-bottom: 10px;
                cursor: pointer;
                transition: all 0.2s var(--cubic);
                position: relative;

                .server-initials {
                    font-size: 18px;
                    pointer-events: none;
                    z-index: 1;
                    transition: all 0.2s var(--cubic);
                    font-weight: 300;
                }

                .server-bg {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    z-index: 0;
                    pointer-events: none;
                    transition: all 0.2s var(--cubic);
                }
            }

            .server-icon:hover {

                .server-bg {
                    transform: scale(0.5);
                }

                .server-initials {
                    font-size: 46px;
                    font-weight: 700;
                }
            }

            .server-icon .server-tooltip {
                position: absolute;
                left: 60px;
                top: 50%;
                transform: translateY(-50%) scale(0.9);
                background-color: var(--glass);
                border: 1px solid var(--glassBorder);
                color: white;
                padding: 8px 12px;
                border-radius: 6px;
                font-size: 14px;
                font-weight: 600;
                opacity: 0;
                pointer-events: none;
                transition: all 0.2s var(--cubic);
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
                white-space: nowrap;
                z-index: 999;
            }

            .server-icon .server-tooltip::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -16px;
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent var(--glassBorder) transparent transparent;
            }

            .server-icon:hover .server-tooltip {
                opacity: 1;
                transform: translateY(-50%) scale(1);
            }





        }

        #openModalBtn {
            cursor: pointer;
            background-color: rgb(61, 56, 69);
            border: none;
            width: 46px;
            height: 46px;
            border-radius: 50%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: all 0.2s var(--cubic);
            position: relative;
            margin: auto;

        }
    }


    #contactContainer {
        width: 100%;
        grid-area: contacts;

        .glassContainer {
            width: unset;
        }

        .contact-item {
            margin: 0px var(--petitPadding);
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 8px;
            border-radius: var(--borderRadius);
            cursor: pointer;
            transition: background-color 0.2s;
            background-color: var(--glass);
            border: 1px solid var(--glassBorder);
            backdrop-filter: blur(var(--backdropIntensity));
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        }

        .contact-item:hover {
            background-color: #35373c;
        }

        .contact-item.active {
            background-color: #3f4147;
        }

        .contact-info {
            display: flex;
            flex-direction: column;
        }

        .contact-nickname {
            color: #949ba4;
            font-weight: 500;
            font-size: 14px;
        }

        .contact-item.online .contact-nickname {
            color: #dbdee1;
        }

        .contact-status-text {
            font-size: 11px;
            color: #949ba4;
        }

    }


    #userPanel {
        grid-area: user;
        width: calc(var(--leftContainerWidth) - (var(--petitPadding)));
        max-height: 56px;
        margin: 6px;
        padding: var(--padding);
        border-radius: var(--borderRadius);
        display: flex;
        align-items: center;
        background-color: var(--glass);
        border: 1px solid var(--glassBorder);
        backdrop-filter: blur(var(--backdropIntensity));
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        margin-bottom: 0px;

        span.avatar {
            max-height: 42px;
            max-width: 42px;
            display: inline-block;
            position: relative;
            margin-right: var(--padding);

            img {
                overflow: hidden;
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }

            .status {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: green;
            }
        }

        .userContainer {
            display: flex;
            flex-direction: column;

            span.pseudo {
                font-weight: bold;
            }

            span.status {
                font-size: 0.8em;
            }
        }

        .settings {
            margin-left: auto;
            cursor: pointer;
            width: 36px;
            height: 36px;

            img {
                width: 100%;
                height: 100%;
            }
        }

    }
}

#rightContainer {
    width: 100%;
    display: flex;
    gap: var(--petitPadding);

    .glassContainer {

        #chatHeader {
            padding: var(--padding);
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: var(--petitBorderRadius);
            margin: var(--petitPadding);
            background-color: var(--glass);
            border: 1px solid var(--glassBorder);
            backdrop-filter: blur(var(--backdropIntensity));
            margin-bottom: 0px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);


            h3 {
                font-weight: bold;
                margin: 0px;
            }
        }

        #messageContainer {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;

            #chatContainer {
                height: 100%;
                max-height: 100%;
                overflow-y: scroll;
            }

            #inputContainer {
                position: relative;
                background-color: var(--glass);
                border-radius: var(--petitBorderRadius);
                margin: 6px;
                width: calc(100% - (var(--petitPadding) * 2));
                padding: var(--padding);
                border: 1px solid var(--glassBorder);
                margin-top: 0px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);


                #messageInput {
                    min-height: 42px;
                    height: auto;
                    width: 100%;
                    padding-block: 0px;
                    border-width: 0px;
                    outline: none;
                    background-color: transparent;
                    color: #dcddde;
                    padding-inline: 0px;

                    input {
                        border: none;
                        padding: none;
                        width: 100%;
                        height: 100%;
                        font-size: 16px;
                    }
                }

                #sendMessage {
                    position: absolute;
                    right: var(--padding);
                    bottom: var(--padding);
                    height: 42px;
                    width: 42px;
                    border-radius: 50%;
                    cursor: pointer;
                    border: 1px solid var(--glassBorder);
                    background-color: var(--glass);

                    &:hover {
                        background-color: red;
                    }
                }
            }
        }
    }


    #userContainer {
        min-width: var(--userContainer);


        #userCard {

            .topContainer {
                display: flex;

                .bannerContainer {
                    min-height: 120px;
                    background-color: black;
                    width: 100%;
                    position: relative;

                    .banner {
                        background-color: blue;
                    }

                    .profilePicture {
                        left: var(--padding);
                        height: 100px;
                        width: 100px;
                        display: block;
                        position: absolute;
                        bottom: 0;
                        transform: translateY(40%);
                        background-color: rgb(0, 21, 255);
                        border-radius: 50%;
                    }

                    .status {
                        display: block;
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        background-color: rgb(36, 216, 81);
                        bottom: 6px;
                        right: 6px;
                        position: fixed;

                    }
                }
            }

            .userContainer {
                margin-top: 46px;
                padding: var(--padding);
                display: flex;
                flex-direction: column;

                .pseudo {
                    font-weight: bold;
                }

                .status {
                    font-size: 0.8em;
                }
            }

            .bottomContainer {
                padding: var(--padding);

                div {
                    padding: var(--padding);
                    background-color: #36393f;
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;

                    &:not(:last-child) {
                        border-top-left-radius: var(--borderRadius);
                        border-top-right-radius: var(--borderRadius);
                    }

                    &:last-child {
                        border-bottom-left-radius: var(--borderRadius);
                        border-bottom-right-radius: var(--borderRadius);
                    }


                    .label {
                        font-weight: bold;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@keyframes openModal {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@keyframes openModalContent {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

#modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    animation: openModal 0.5s cubic-bezier(.6, 0, .4, 1) forwards;



    .modal-content {
        background-color: var(--glass);
        padding: var(--padding);
        border-radius: var(--borderRadius);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(var(--backdropIntensity));
        border: 1px solid var(--glassBorder);
        width: 100%;
        margin: var(--petitPadding);
        animation: openModalContent 0.5s cubic-bezier(.1, 0, 0, 1) forwards;


        .content {
            display: flex;
            flex-direction: column;
            gap: var(--petitPadding);
            margin-bottom: var(--petitPadding);
        }
    }
}





.glassContainer {
    background-color: var(--glass);
    border: 1px solid var(--glassBorder);
    border-radius: var(--borderRadius);
    height: 100%;
    width: 100%;
    overflow: hidden;
    backdrop-filter: blur(var(--backdropIntensity));
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

}

.sectionTitle {
    padding: var(--padding);
    margin: 0px;
    font-weight: 400;
    font-family: var(--font);
    color: white;
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 12px;
}