<div class="auth-container">
    <div class="auth-box glassContainer">
        <h2>Connexion</h2>
        <form id="loginForm">
            <input type="text" id="loginInput" placeholder="Email ou Pseudo" required>
            <input type="password" id="passInput" placeholder="Mot de passe" required>
            <button type="submit" class="btn-discord">Se connecter</button>
        </form>
        <p id="loginMessage" style="color:red"></p>
    </div>
    <a class="newAccount"href="#" onclick="router('register')">Pas de compte ? S'inscrire</a>
</div>