<section id="leftContainer">
    <div id="roomContainer">
        <div id="serverList"></div>

        <button id="openModalBtn" class="add-server-btn">+</button>
    </div>
    <div id="contactContainer">
        <div class="glassContainer"></div>
    </div>
    <div id="userPanel">
        <div id="userSection">

            <span class="avatar">
                <img id="currentUserAvatar" src="https://cdn.discordapp.com/embed/avatars/0.png">
                <span class="status"></span>
            </span>
            <div class="userContainer">
                <span class="pseudo" id="currentUserName">Chargement...</span>
                <span class="status">en ligne</span>
            </div>
            <span class="settings" id="btnOpenSettings">
                <img src="/frontend/css/setting.png">
            </span>
        </div>
        <div id="settings"></div>
    </div>

    </div>
</section>
<section id="rightContainer">
    <div class="glassContainer">
        <div id="messageContainer">
            <div id="chatHeader">
                <h3 id="currentServerName">Sélectionnez un salon à gauche</h3>
            </div>
            <div id="chatContainer"></div>
            <div id="inputContainer">
                <input type="text" id="messageInput" placeholder="Votre message">
                <button type="submit" id="sendMessage" class="send btn"></button>
            </div>
        </div>
    </div>
    <div id="userContainer">
        <div class="glassContainer"></div>
    </div>
</section>

<div id="modalContainer" style="display: none;">
</div>