<section id="leftContainer">
    <div id="roomContainer">
        <div id="serverList"></div>

        <button id="openModalBtn" class="add-server-btn">+</button>
    </div>
    <div id="contactContainer"></div>
    <div id="userPanel">
        <span class="avatar">
            <img src="/frontend/css/test.png">
            <span class="status"></span>
        </span>
        <div class="userContainer">
            <span class="pseudo">PSEUDO</span>
            <span class="status">en ligne</span>
        </div>
        <span class="settings">
            <img src="/frontend/css/setting.png">
        </span>

    </div>
</section>
<section id="rightContainer">
    <div id="messageContainer">
        <div id="chatHeader" style="padding: 15px 20px; border-bottom: 1px solid #1e1f22; background-color: #313338;">
            <h3 id="currentServerName" style="margin: 0; color: white;">Sélectionnez un salon à gauche</h3>
        </div>
        <div id="chatContainer"></div>
        <div id="inputContainer">
            <input type="text" id="messageInput" placeholder="Votre message">
            <button type="submit" id="sendMessage" class="send btn"></button>
        </div>
    </div>
    <div id="userContainer">
    </div>
</section>

<div id="modalContainer" style="display: none;">
</div>