<div id="messageContainer" class="glassContainer">
    <div id="chatHeader">
        <button id="chatBackButton" class="chat-back-btn">←</button>
        <h3 id="currentServerName">Sélectionnez un salon à gauche</h3>
    </div>
    <div id="chatContainer"></div>
    <div id="inputContainer">
        <div id="messageInputWrapper" class="glassContainer"
            style="position: relative; overflow: hidden; z-index: 0; flex: 1; min-width: 0;">
            <textarea id="messageInput" placeholder="Votre message" rows="1" spellcheck="false"
                autocorrect="off" autocapitalize="off"></textarea>
        </div>

        <div id="sendBtnWrapper" style="position: relative; display: inline-block;">
            <button type="submit" id="sendMessage" class="send btn"
                style="position: relative; z-index: 1; background: transparent;"></button>
        </div>
    </div>
</div>