<div class="auth-container">
    
    <div id="registerGlassBox" class="auth-box glassContainer" style="background: transparent !important; box-shadow: none !important; border: 1px solid rgba(255, 255, 255, 0.2); position: relative; z-index: 0; overflow: hidden;">

        <div class="container" style="position: relative; z-index: 1;">
            <h1>Inscription</h1>
            <form id="regForm">
                <input type="text" id="nickname" placeholder="Pseudo" required>
                <input type="email" id="email" placeholder="Email" required>
                <input type="password" id="password" placeholder="Mot de passe" required>
                <button type="submit" id="registerBtn">Créer mon compte</button>
            </form>
            <p id="regMessage" style="color:red"></p>
            
        </div>
        
    </div>
    <a href="#" id="goToLogin" class="newAccount" onclick="router('login')">Déjà un compte ? Connectez-vous</a>
</div>