<div class="auth-container">
    <div class="auth-box glassContainer">
        <h1>Inscription</h1>
        <form id="regForm">
            <input type="text" id="nickname" placeholder="Pseudo" required>
            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="Mot de passe" required>
            <button type="submit">Créer mon compte</button>
        </form>
        <p id="regMessage" style="color:red"></p>
        <button onclick="router('login')">Déjà un compte ? Connectez-vous</button>
    </div>
</div>