<div class="settings-panel">
    <div class="settings-group">
        <label>Photo de profil</label>
        <div class="avatar-preview-container">
            <img id="settingsAvatarPreview" class="avatar-preview" src="https://cdn.discordapp.com/embed/avatars/0.png"
                alt="Avatar">

            <label for="settingsAvatarInput" class="custom-file-upload">
                +
            </label>

            <input type="file" id="settingsAvatarInput" accept="image/png, image/jpeg, image/jpg, image/webp"
                style="display: none;">
        </div>
    </div>

    <div class="settings-group">
        <label for="settingsBioInput">Biographie</label>
        <textarea id="settingsBioInput" class="settings-textarea" rows="4" placeholder="Parle-nous un peu de toi..."
            style="resize: none;" maxlength="200" spellcheck="false"></textarea>
    </div>

    <div class="settings-actions">
        <button id="saveSettingsBtn" class="settings-save-btn">Enregistrer</button>
        <button id="logoutBtn" class="settings-logout-btn">
            Déconnexion
        </button>
    </div>
</div>