<div class="modal-content create-join-modal">
    <section class="create-section">
        <h2 class="modal-title">Créer ton serveur</h2>

        <form id="createServerForm">
            <div class="form-group">
                <label for="serverNameInput">Nom du serveur</label>
                <div class="input-inline-group">

                    <input type="text" id="serverNameInput" required placeholder="Mon super serveur">
                    <button type="submit" class="btn-primary">Créer</button>
                </div>
            </div>
        </form>
    </section>

    <span class="separator"></span>


    <section class="join-section">
        <div class="form-group">
            <label for="joinServerInput">Tu as déjà une invitation ?</label>
            <div class="input-inline-group">
                <input type="text" id="joinServerInput" placeholder="Ex: f4a8b2c1">
                <button id="joinServerSubmitBtn" class="btn-success">Rejoindre</button>
            </div>
        </div>
    </section>
</div>