 <div id="userCard">
            <div class="topContainer">
                <div class="bannerContainer">
                    <span class="banner"></span>
                    <span class="profilePicture">
                        <span class="status"></span>
                    </span>
                </div>
            </div>
            <div class="userContainer">
                <span class="pseudo">PSEUDO</span>
                <span class="status">en ligne</span>
            </div>
            <div class="bottomContainer">
                <div class="bioContainer">
                    <span class="label">Bio</span>
                    <span class="bio">je suis super content de faire ce projet</span>
                </div>
                <div class="memberSince">
                    <span class="label">Membre depuis</span>
                    <span class="date">12 déc. 2022</span>
                </div>
            </div>
        </div>